<br><%= link_to "Movie Discover Page", user_discover_path(@facade.user_id), method: :get %>
<h2> Movies watched </h2>

<h2> Top Rated Movies </h2>

<% @facade.movies.each do |movie| %>
  <p>
    Movie: <%= link_to movie.title, user_movie_path(@facade.user_id, movie.id) %> <br>
    Popularity: <%= movie.popularity %> <br>
  <p>
<% end %>
